@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    a {
        @apply underline text-cyan-200
    }

    section {
        @apply mb-6;
    }

    section > h3 {
        @apply mb-1 text-lg font-bold border-b-gray-500 border-b-[1px]
    }

    code {
        @apply my-1 p-1 bg-slate-900 rounded-sm font-mono
    }

    dt {
        @apply font-bold
    }
    dd {
        @apply ml-4 mb-2
    }
    dd > p {
        @apply mb-2
    }
}

#root {
    @apply bg-slate-800 text-gray-100
}

.cm-editor {
    @apply h-full;
}
.ͼ1.cm-focused {
    @apply outline-none;
}

.cm-editor .cm-gutters {
    @apply border-r-0;
}

.cm-gutter {
    @apply bg-slate-700;
}
